<html>
 <head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato|Enagagement' rel='stylesheet' type='text/css'>
    <link href="style.css" type="text/css" rel="stylesheet">
 </head>
 <body>
    <div class="header">
        <img class="logo" src="http://sd.flocers.org/wp-content/uploads/sites/4/2013/05/ARTS-300x200.png"></img>
        <ul class="navbar">
            <a href="http://localhost:8888/drupal/homepage"><li>Home</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Contact</li></a>
        </ul>
    {{page.myheader}}
    </div>
    <div class="slideshow">
        <img src="http://az616578.vo.msecnd.net/files/2016/06/20/6360197833194568122133674768_arts.jpg"></img>
{{page.slider}}
    </div>
    <div class="body">
      {{page.content}}
    </div>
 </body>
</html>                 
            
